<div id="list" class="pane">
  <h3 class="heading">
    Post Types
    <%= link_to new_dashboard_post_type_path, class: "btn btn-info btn-sm pull-right" do %>
      <i class="glyphicon glyphicon-plus"></i>
    <% end %>
  </h3>
  <div class="scroll-y">
    <ul>
      <%= render collection: @post_types, partial: "storytime/dashboard/post_types/post_type" %>
    </ul>
    <%= paginate @post_types %>
  </div>
</div>