<li class="list-group-item">
  <%= link_to [
                storytime, 
                :dashboard, 
                Storytime::Page, 
                dir: [params[:dir], directory].compact.join("/"),
                published: params[:published],
                draft: params[:draft]
              ], 
              id: "", 
              class: "list-group-link" do %>
    <div class="row">
      <div class="col-md-8">
        <h4><%= icon("folder-open-o") %> <%= directory %></h4>
      </div>
    </div>
  <% end %>
</li>
