<div class="btn-group pull-right">
  <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown">
    <i class="glyphicon glyphicon-plus"></i>&nbsp; <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <% Storytime::Post.primary_feed_types.each do |post_type| %>
      <li><%= link_to "New #{post_type.human_name}", storytime.new_dashboard_post_path(type: post_type.type_name) %></li>
    <% end %>
  </ul>
</div>