<div class="btn-group pull-right">
  <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown">
    <i class="glyphicon glyphicon-plus"></i>&nbsp; <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <% Storytime::Post.post_types.each do |post_type| %>
      <li><%= link_to "New #{post_type.name.humanize} Post", url_for([:new, :dashboard, post_type.type_name.to_sym]) %></li>
    <% end %>
  </ul>
</div>