<%= render 'list' %>

<div id="main" class="pane">
  <div class="scroll-y">
    <div class="padding no-content center">
      <h3>Select a Post to Edit</h3>
      <%= link_to "or Create One", url_for([:new, :dashboard, :blog_post]), class: 'btn btn-info' %>
    </div>
  </div>
</div>