<%= render 'list' %>

<div id="main" class="pane">
  <h3 class="heading">
    New <%= current_post_type.name.humanize %>
  </h3>
  <div class="scroll-y">
    <div class="padding">
      <%= render 'form' %>
    </div>
  </div>
</div>