<%= render 'list' %>

<div id="main" class="pane">
  <h3 class="heading">
    <%= t('dashboard.posts.new.header', resource: @post.human_name) %>
  </h3>
  <div class="scroll-y edit_form">
    <div class="padding">
      <%= render 'form' %>
    </div>
  </div>
</div>