<%= render 'list' %>

<div id="main" class="pane">
  <h3 class="heading">
    New <%= @post.human_name %>
    <span class="pull-right">
      <button id="preview_new_post" class="btn btn-default save">Save and Preview</button>
    </span>
  </h3>
  <div class="scroll-y">
    <div class="padding">
      <%= render 'form' %>
    </div>
  </div>
</div>