<%= simple_form_for [:dashboard, Storytime::Media.new] do |f| %>
  <%= f.error_notification %>
  <%= f.input :file, label: "Upload File" %>
<% end %>

<div id="progress" class="progress">
  <div class="progress-bar progress-bar-success"></div>
</div>