<%= simple_form_for [:dashboard, Storytime::Media.new] do |f| %>
  <%= f.error_notification %>
  <%= f.input :file, label: "Upload a file", wrapper: false %>
<% end %>

<div id="progress" class="progress" style="display: none;">
  <div class="progress-bar progress-bar-primary"></div>
</div>