<div id="media_gallery">
  <div class="clearfix">
    <div class="media_container">
      <%= render partial: "storytime/dashboard/media/media", collection: @media %>
    </div>
  </div>

  <%= paginate @media, remote: true, params: { controller: "dashboard/media",
                                               action: "index",
                                               id: nil,
                                               large_gallery: @large_gallery.nil? ? true : @large_gallery } %>
</div>
