<div class="media-file clearfix" id="media_<%= media.id %>">
  <div class="pull-left"><%= delete_resource_link media, dashboard_media_path(media) %></div>
  <div>
    <%= link_to media.file_url, target: "_blank" do %>
      <%= image_tag media.file_url(:thumb) %>
    <% end %>
  </div>
</div>