<div id="insertMediaModal" class='bootstrap-wysihtml5-insert-image-modal modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <a class='close' data-dismiss='modal'>&times;</a>
        <h4>Insert Media</h4>
      </div>
      <div class='modal-body'>
        <div>
          <label for="mediaByURL">By URL:</label>
          <input id="mediaByURL" value='http://' class='form-control'>
          <div class="pull-right">
            <button class='btn btn-primary' data-dismiss='modal'>Insert</button>
          </div>
        </div>

        <div>
          <%= render "storytime/dashboard/media/form" %>
          <%= render "storytime/dashboard/media/gallery" %>
        </div>
      </div>
      <div class='modal-footer'>
        <button class='btn btn-default' data-dismiss='modal'>Cancel</button>
      </div>
    </div>
  </div>
</div>