<% content_for :head, auto_discovery_link_tag(:atom, action: :show, id: @page.id, format: "atom") %>

<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="post-list">
        <%= render @posts %>
        <%= paginate @posts, param_name: "page_number" %>
      </div>
    </div>
    <div class="col-md-3">
      <h5>Tags</h5>
      <% tag_cloud Storytime::Post.tag_counts, %w[s m l] do |tag, css_class| %>
        <div><%= link_to tag.name, storytime.blog_path(@page, tag: tag.name), class: css_class %></div>
      <% end %>
    </div>
  </div>
</div>