<%= simple_form_for [:dashboard, Storytime::Membership.new], remote: true do |f| %>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-6"><%= f.association :user, collection: Storytime.user_class.non_members(@current_storytime_site), label_method: :email, label: false, input_html: { class: "chosen", data: { placeholder: "Select a user" } }, wrapper_html: { class: "no-margin" } %></div>
      <div class="col-xs-6"><%= f.association :storytime_role, label: false, label_method: :label, include_blank: false, wrapper_html: { class: "no-margin" } %></div>
    </div>
  </div>
  <div class="panel-footer">
    <%= f.submit "Save", class: "btn btn-default btn-sm pull-right" %>
    <div class="clearfix"></div>
  </div>
<% end %>