<div id="versions" style="margin-bottom: 20px;">
  <div id="versions-toggle" data-toggle="collapse" data-target="#versions-panel">
    Versions <b class="caret"></b>
  </div>
  <div id="versions-panel" class="collapse">
    <ul class="list-group" style="margin: 0;">
      <%= render partial: 'storytime/dashboard/versions/version.html.erb', collection: versionable.versions.order(created_at: :desc), locals: {versionable: versionable } %>
    </ul>
  </div>
</div>