<% if autosavable.autosave %>
  <% unless params[:autosave] %>
    <div id="autosaves" style="margin-bottom: 20px; color: red; <% if autosavable.autosave.nil? %>display:none<% end %>">
      <div id="autosaves-toggle" data-toggle="collapse" data-target="#autosaves-panel">
        There is an autosave of this post that is different than the version below. <%= link_to "View the autosave.", storytime.edit_dashboard_post_path(autosavable, autosave: autosavable.autosave.id) %>
      </div>
    </div>
  <% end %>
<% end %>