<div class="container">
  <h2>New Subscription</h2>
  
  <%= simple_form_for [:dashboard, @subscription] do |f| %>
    <%= f.input :email %>
    <%= f.submit class: "btn btn-info" %>
  <% end %>
</div>