<div class="container">
  <div class="row">
    <div class="col-md-2"></div>

    <div class="col-md-8">
      <div class="panel panel-default" style="margin-top: 50px">
        <div class="panel-body">
          <h2><%= t('dashboard.subscriptions.unsubscribe.header') %></h2>
          <p>
            <%= t('dashboard.subscriptions.unsubscribe.message') %>
          </p>
          <p class="right">
            <%= link_to t('dashboard.subscriptions.unsubscribe.go_back_to_site'), main_app.storytime_path %>
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-2"></div>
  </div>
</div>