<%= render 'list' %>

<div id="main" class="pane">
  <div class="scroll-y">
    <div class="padding no-content center">
      <h3>Select a Page to Edit</h3>
      <%= link_to "or Create One", new_dashboard_page_path, class: 'btn btn-info' %>
    </div>
  </div>
</div>