<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2><%= @post.title %></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= @post.content.html_safe %>

      <p><%= render 'tags', post: @post %></p>
    </div>
  </div>

  <%= render "storytime/comments/comments" if @post.show_comments? %>
</div>