.container-lg {
  max-width: 1580px;
  margin: 0 auto;
  position: relative;
}

section {
  padding: 80px 0 80px 0;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}