.abs-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover !important;
}

.vertical-center {
  position: relative; 
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.bg-white { background:#FFF; }
.bg-gray-light { background: $gray-light; }
.bg-gray-lighter { background: $gray-lighter; }
.bg-gray-lightest { background: $navbar-default-bg; }
.bg-gray-radial-light {
  background: #eeeeee;
  background: -moz-radial-gradient(center, ellipse cover, #eeeeee 0%, #dddddd 100%) !important;
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #eeeeee), color-stop(100%, #dddddd)) !important;
  background: -webkit-radial-gradient(center, ellipse cover, #eeeeee 0%, #dddddd 100%) !important;
  background: -o-radial-gradient(center, ellipse cover, #eeeeee 0%, #dddddd 100%) !important;
  background: -ms-radial-gradient(center, ellipse cover, #eeeeee 0%, #dddddd 100%) !important;
  background: radial-gradient(ellipse at center, #eeeeee 0%, #dddddd 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#dddddd', GradientType=1);
}
.bg-gray-radial-dark {
  background: #333333;
  background: -moz-radial-gradient(center, ellipse cover, #3b3b3b 0%, #222222 100%) !important;
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #3b3b3b), color-stop(100%, #222222)) !important;
  background: -webkit-radial-gradient(center, ellipse cover, #3b3b3b 0%, #222222 100%) !important;
  background: -o-radial-gradient(center, ellipse cover, #3b3b3b 0%, #222222 100%) !important;
  background: -ms-radial-gradient(center, ellipse cover, #3b3b3b 0%, #222222 100%) !important;
  background: radial-gradient(ellipse at center, #3b3b3b 0%, #222222 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3b3b3b', endColorstr='#222222', GradientType=1) !important;
}

.no-margin { margin: 0; }
.no-padding { padding: 0; }
.no-overflow { overflow: hidden; }
.no-radius {
  @include border-top-radius(0);
  @include border-bottom-radius(0);
}

.absolute { position: absolute; }
.relative {  position: relative; }
.block { display: block; }
.inline-block { display: inline-block; }