$devise-bg-gradient-start:        #5D76A5 !default;
$devise-bg-gradient-end:          #425472 !default;
$devise-box-border-color:         #006699 !default;

$navbar-fixed-width:              300px !default;
$navbar-fixed-collapsed-width:    75px !default;
$scroll-panel-header-height:      $navbar-height !default;
$navbar-tranparent-link-color:    #FFFFFF !default;
