<div class="container">
  <h2>Edit User</h2>
  <%= simple_form_for [:dashboard, @user] do |f| %>
    <%= f.input :email %>
    <%= f.input :role, as: :select, collection: Storytime::User.roles.collect { |r| [r[0].humanize, r[0]]}, selected: @user.role %>
    <%= f.submit class: "btn btn-info" %>
  <% end %>
</div>