<div class="container">
  <h2>Edit User</h2>
  <%= simple_form_for [:dashboard, @user] do |f| %>
    <%= f.input :email %>
    <%= f.association :storytime_role, include_blank: false, label_method: :label %>
    <%= f.submit class: "btn btn-info" %>
  <% end %>
</div>