<div class="container">
  <h2>
    Users
    <%= link_to "New User", new_dashboard_user_path, class: "btn btn-default pull-right" %>
  </h2>

  <table class='table'>
    <thead>
      <tr>
        <th>Email</th>
        <th>Name</th>
        <th>Role</th>
        <th class='right'>Actions</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'user', collection: @users %>
    </tbody>
  </table>
</div>