<% if current_user %>
  <%= simple_form_for [@post, Storytime::Comment.new] do |f| %>
    <%= f.input :content %>
    <%= f.button :submit %>
  <% end %>
<% else %>
  <div class="alert alert-info" role="alert">
    <%= link_to "Sign in", main_app.new_user_session_url %> to comment.
  </div>
<% end %>