<% if current_user %>
  <%= simple_form_for [@post.becomes(Storytime::Post), Storytime::Comment.new] do |f| %>
    <%= f.input :content %>
    <%= f.button :submit %>
  <% end %>
<% else %>
  <div class="alert alert-info" role="alert">
    <%= link_to "Sign in", Storytime.login_path %> to comment.
  </div>
<% end %>