<footer>
  <div class="container">
    <p class="text-muted center">
      Created using <a href="http://www.github.com/FlyoverWorks/storytime" target="_blank">Storytime</a>.
    </p>
  </div>
</footer>