<!DOCTYPE html>
<html>
<head>
  <title>Storytime</title>
  <%= stylesheet_link_tag    "storytime/application", media: "all" %>
  <%= javascript_include_tag "storytime/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
