.list-group-item {
  margin-bottom: 0;
  border: none;
  border-bottom: 1px solid #ddd;
  color: $list-group-link-color;
  
  &:first-child {
    border-radius: 0;
  }
  &:last-child {
    border-radius: 0;
  }
}