@mixin transition($duration) {
  -webkit-transition: $duration;
     -moz-transition: $duration;
      -ms-transition: $duration;
       -o-transition: $duration;
          transition: $duration;
}

@mixin transform($transform) {
  -webkit-transform: $transform;
     -moz-transform: $transform;
      -ms-transform: $transform;
       -o-transform: $transform;
          transform: $transform;
}
