.comments{
  margin-top: 20px;
}

form.new_comment{ margin-bottom: 20px; }

.comment{
  border-bottom: 1px solid #ccc;
  padding: 10px 5px 5px 5px;
}

.comment-content{
  padding-bottom: 15px;
}

.comment-details{
  font-size: 11px;
  color: #a5a5a5;
}