html, body { 
  height: 100%;
}

.sessions, .registrations.new, .registrations.create, .passwords {
  background: #242628;
}

.devise {
  .login-box, .signup-box, .forgotten-box, .reset-box {
    max-width: 530px;
    height: 90%;
    margin: 0 auto;
    padding: 0;
    display: table;
  }
  .forgotten-form {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 280px;
    color: #a5acae;
    display: table-cell;
    vertical-align: middle;
    .email-wrap {
      width: 100%;
      position: relative;
      border-radius: 2px;
    }
    div {
      position: relative;
      margin: 0 0 1em 0;
      background: #3c4043;
      float: left;
    }
    input {
      width: 100%;
      margin: 0;
      padding: 8px 10px;
      position: relative;
      border: none;
      color: #fff;
      font-size: 1.1em;
      font-weight: 200;
      background: transparent;
      box-shadow: none;
      -webkit-transition: background ease 0.25s;
      -moz-transition: background ease 0.25s;
      transition: background ease 0.25s;
      outline: none;
      &:focus {
        border: none;
        background: #484c50;
      }
    }
    .button-save {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 100% !important;
      height: 36px;
      margin: 0 0 1em 0;
      padding: 0.5em 1.37em;
      min-height: 30px;
      min-width: 80px;
      box-shadow: rgba(255,255,255,0.15) 0 1px 0 inset;
    }
    a {
      color: #646d70;
      font-size: 0.9em;
      &:hover {
        color: lighten(#646d70, 20%);
        text-decoration: none;
      }
    }
  }

  .signup-form, .reset-form {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 280px;
    color: #a5acae;
    display: table-cell;
    vertical-align: middle;
    div {
      position: relative;
      margin: 0 0 1em 0;
      background: #3c4043;
      float: left;
      display: table;
    }
    .name-wrap, .email-wrap, .password-wrap {
      position: relative;
      border-radius: 2px;
    }
    input {
      margin: 0;
      width: 280px;
      padding: 8px 10px;
      position: relative;
      border: none;
      color: #fff;
      font-size: 1.1em;
      font-weight: 200;
      background: transparent;
      box-shadow: none;
      -webkit-transition: background ease 0.25s;
      -moz-transition: background ease 0.25s;
      transition: background ease 0.25s;
      outline: none;
      &:focus {
        border: none;
        background: #484c50;
      }
    }
    .button-save {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%!important;
      height: 36px;
      margin: 0 0 1em 0;
      padding: 0.5em 1.37em;
      min-height: 30px;
      min-width: 80px;
      box-shadow: rgba(255,255,255,0.15) 0 1px 0 inset;
    }
    a {
      color: #646d70;
      font-size: 0.9em;
      &:hover {
        color: lighten(#646d70, 20%);
        text-decoration: none;
      }
    }
  }
  .login-form {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 530px;
    color: #a5acae;
    display: table-cell;
    vertical-align: middle;
    .email-wrap {
      position: relative;
      margin-right: 3px;
      border-radius: 2px 0 0 2px;
    }
    .password-wrap {
      position: relative;
      border-radius: 0 2px 2px 0;
    }
    div {
      margin: 0 0 5px 0;
      background: #3c4043;
      float: left;
      &.clearfix {
        float: none; 
        margin: 0; 
        background: none;
      }
    }
    input {
      outline: none;
      display: inline-block;
      clear: both;
      margin: 0;
      padding: 8px 0 8px 8px;
      width: 216px;
      position: relative;
      border: none;
      color: #fff;
      font-size: 1.1em;
      font-weight: 200;
      background: transparent;
      box-shadow: none;
      -webkit-transition: background ease 0.25s;
      -moz-transition: background ease 0.25s;
      transition: background ease 0.25s;
      &:focus {
        border: none;
        background: #484c50;
      }
    }
    input[type="checkbox"] {
      width: auto;
      background: none;
      margin-top: 4px;
    }
    .checkbox {
      background: none; 
      height: 10px;
    }
    .button-save {
      width: 85px;
      height: 36px;
      margin: 0 0 0 10px;
      padding: 0.5em 1.37em;
      min-height: 30px;
      min-width: 80px;
      box-shadow: rgba(255,255,255,0.15) 0 1px 0 inset;
    }
    a {
      color: #646d70;
      font-size: 0.9em;
      &:hover {
        color: lighten(#646d70, 20%);
        text-decoration: none;
      }
    }
  }
  .btn, .button, button, input[type="button"], .button-save, button[type="submit"], input[type="submit"], .button-add, .button-delete, button[type="reset"], input[type="reset"], .button-alt, .button-link, .button-back {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 35px;
    width: auto;
    display: inline-block;
    padding: 0.9em 1.37em;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    font-size: 11px;
    line-height: 13px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-shadow: none;
    border-radius: 0.2em;
    border: rgba(0,0,0,0.05) 0.1em solid;
    -webkit-transition: background 0.3s ease,border-color 0.3s ease;
    -moz-transition: background 0.3s ease,border-color 0.3s ease;
    transition: background 0.3s ease,border-color 0.3s ease;
  }
  .button-save, button[type="submit"], input[type="submit"] {
    background: #5ba4e5;
    box-shadow: none;
  }
}