.media-file{
  float: left;
  padding: 15px 19px;
  width: 112px;
  border-top: 1px solid #dddddd;

  .media-thumb{
    height: 50px;
    width: 72px;
    text-align: center;
  }

  .action-buttons{
    text-align: center;
    margin-top: 20px;
  }
}

#mediaByUrlSelectButton{
  margin-top: 10px;
  margin-bottom: 10px;
}

#featured_media_image{
  margin-top: 10px;
  margin-bottom: 10px;
}