.thumb_gallery {
  .media-file{
    float: left;
    padding: 15px 19px;
    // width: 112px;
    border-top: 1px solid #dddddd;

    .media-thumb{
      height: 150px;
      width: 250px;
      text-align: center;
    }

    .action-buttons{
      text-align: center;
      margin-top: 20px;
    }
  }
}

.tiny_gallery {
  .media-file {
    border-top: 1px solid #dddddd;
    float: left;
    padding: 15px 19px;
    width: 112px;
  }

  .media-thumb {
    height: 50px;
    width: 72px;
    text-align: center;
  }

  .action-buttons {
    text-align: center;
    margin-top: 20px;
  }
}

#mediaByUrlSelectButton{
  margin-top: 10px;
  margin-bottom: 10px;
}

#featured_media_image{
  // margin-top: 5px;
  // margin-bottom: 10px;
}

.featured_image_block {
  background-color: rgba(91,192,222, 0.2);
  border: 1px solid #C2C2C2;
  height: 152px;
  margin-bottom: 10px;
  text-align: center;
  width: 252px;

  span.select_featured_image {
    display: inherit;
    font-size: 45px;
    padding: 25px 0 20px 0;
  }

  .remove_featured_image {
    margin-top: 10px;
  }
}