.media-file{
  float: left;
  padding: 15px 20px;
  width: 112px;
  border-top: 1px solid #dddddd;

  .media-thumb{
    height: 50px;
    width: 72px;
    text-align: center;
  }

  .action-buttons{
    text-align: center;
    margin-top: 20px;
  }
}