#storytime-app-menu-toggle {
  position: fixed;
  top: 10px;
  left: 15px;
  z-index: 1030;
  padding: 7px 12px 0 12px;
  text-decoration: none;
  background-color: #fff;
  color: #333;
  font-size: 30px;
  @include box-shadow(1px 1px 3px #ccc);

  &.dark {
    background: #000;
    color: #fff;
  }

  &.rounded {
    @include border-top-radius(5px);
    @include border-bottom-radius(5px);
  }
}



  .nav-menu-default.nav-menu-fixed-left {
    border-right: 1px solid #f1f1f1;
  }

  #main {
    background: #fff;
  }

  .nav-menu .nav-menu-header .nav-menu-brand {
    line-height: $scroll-panel-line-height;
    padding: (($scroll-panel-header-height - 46px) / 2) 15px;
    background: #fff;
    border-bottom: 1px solid #f1f1f1;

    &:hover {
      background: #f5f5f5;
    }
  }

  .nav-menu .nav-menu-divider {
    font-size: 14px;
    margin: 0;
    padding: 15px 15px;
    border-bottom: 1px solid #f1f1f1;
    border-top: 1px solid #f1f1f1;
  }

  .nav-menu.nav-menu-default {
    background: #fff;
  }

  .nav-menu.nav-menu-default .nav-menu-nav li {
    a {
      background: #fff;
      text-transform: uppercase;
      font-size: 0.8em;
      font-weight: 300;
      letter-spacing: 1.5px;
      @include transition(0.3s);

      &:hover {
        background-color: #f5f5f5;
      }
    }
    
    &.active {
      a {
        background-color: #FAF9F9;
      }
    }
  }

  .nav.nav-tabs {
    margin-bottom: $line-height-computed;

    li {
      a {
        i {
          position: relative;
          top: 3px;
        }
      }
    }
  }

  .dropdown-menu {
    top: 115%;
  }
  .btn-group .dropdown-menu {
    top: 120%;
  }

  .dropdown-menu:after, .dropdown-menu:before {
    bottom: 100%;
    right: 7px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  .dropdown-menu:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
    border-width: 6px;
    margin-left: -6px;
  }
  .dropdown-menu:before {
    border-color: rgba(51, 51, 51, 0);
    border-bottom-color: #333;
    border-width: 7px;
    margin-left: -7px;
    right: 6px;
  }

  .dropdown-menu > li > a {
    padding: 6px 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.7em;
    @include transition(0.3s);

    i {
      color: $brand-primary;
      width: 24px;
      font-size: 2em;
      text-align: center;
      position: relative;
      top: 5px;
    }
  }
