.row.page-admin {
  padding: 10px;
  &:hover {
    background: #f1f1f1;
  }
}

#tag_cloud {
  width: 400px;
  line-height: 1.6em;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}

.muted { color: lighten(#333, 50%); }
.label {
  a, a:hover {
    color: #fff;
  }
}

.post_field {
  margin: 15px 0px;
}

.notify_subscribers_checkbox {
  text-align: right;
}