.storytime {
  .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border-bottom-color: $brand-primary;
    color: $brand-primary;
  }

  .nav-tabs > li > a {
    color: $text-color;
    font-size: 0.9em;
    text-transform: uppercase;

    i {
      color: $brand-primary;
      font-size: 1.3em;
    }

    .hidden-xs {
      margin-left: 5px;
    }
  }
}