<%= simple_form_for Storytime::Subscription.new do |f| %>
  <div class="storytime-subscription-input"><%= f.input :email %></div>
  <div class="storytime-subscription-submit"><%= f.submit %></div>
<% end %>