<div id="addSubscriptionModal" class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <a class='close' data-dismiss='modal'>&times;</a>
        <h4>Subscribe to Site</h4>
      </div>
      <%= simple_form_for Storytime::Subscription.new do |f| %>
        <div class='modal-body'>
          <%= f.input :email %>
          <%= f.button :submit %>
        </div>
      <% end %>
    </div>
  </div>
</div>