<div id="addSubscriptionModal" class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <a class='close' data-dismiss='modal'>&times;</a>
        <h4>Subscribe to Site</h4>
      </div>
      <div class='modal-body'>
        <%= storytime_email_subscription_form %>
      </div>
    </div>
  </div>
</div>