<div class="scroll-panel">
  <div class="scroll-panel-header">
    <button type="button" class="close pull-left" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= link_to "New", [:new, :dashboard, :snippet], class: "btn btn-sm btn-primary btn-outline pull-right storytime-modal-trigger", remote: true, id: "new-snippet-link" %>
    <h3 class="scroll-panel-title">
      Text Snippets
    </h3>
  </div>
  <div class="scroll-panel-body">
    
    <ul class="list-group list-group-button-links">
      <%= render partial: 'snippet.html.erb', collection: @snippets %>
    </ul>

    <%= paginate @snippets, param_name: "page_number", remote: true %>
  </div>
</div>