<%= render 'list' %>

<div id="main" class="pane">
  <h3 class="heading">
    Edit Text Snippet
  </h3>
  
  <div class="scroll-y edit_form">
    <div class="padding">
      <%= render 'form' %>
    </div>
  </div>
</div>