<div class="container">
  <h2>New <%= model_name.titleize %></h2>

  <%= simple_form_for @model, url: dashboard_admin_create_path do |f| %>
    <%= render 'fields', f: f %>
    <%= f.submit "Save", class: "btn btn-primary" %>
  <% end %>
</div>